* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #404040;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
}

.HeaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 87%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.HeaderLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.LogoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.Re-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.Re-linkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.link {
  margin-right: 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.link:hover {
  color: gray;
}
.link:active {
  color: orange;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}