@import "./BlockMovie.scss";

.Header {
  @include flex-patern(center, none, none);
  background-color: white;
}

.Logo {
  color: black;
}

.HeaderWrapper {
  @include flex-patern(space-between, center, none);
  width: 87%;
}

.HeaderLogo {
  @include flex-patern(none, center, none);
}

.LogoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.Re-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.Re-linkWrapper {
  @include flex-patern(none, space-between, none);
}

.link {
  margin-right: 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;

  &:hover {
    color: gray;
  }

  &:active {
    color: orange;
  }
}

@media only screen and (max-width: 800px) {
  .HeaderWrapper {
    flex-direction: column;
    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .Re-link {
    @include flex-patern(none, center, none);
  }
}

#inp {
  width: 140%;
}
