@import "./BlockMovie.scss";

.MoviePage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.MoviePageWrapper {
  @include flex-patern(center, none, none);
  width: 87%;
  background: #181915;
  color: white;
}

.BlockDescriptionMovie {
  @include flex-patern(none, center, none);
  width: 97%;
  height: 67%;
}

.imgMovie {
  max-width: 195px;
}

.AboutMovie {
  @include flex-patern(none, flex-start, column);
  margin-bottom: 100px;
}

.BlockAboutMovie {
  @include flex-patern(center, none, none);
}

.AboutMovieWrapper {
  width: 91%;
}

@mixin button-styles($Background, $Hover, $Active) {
  width: 157px;
  height: 33px;
  background: $Background;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 12px;

  &:hover {
    background-color: $Hover;
  }

  &:active {
    background-color: $Active;
  }
}

.buttonDownload {
  @include button-styles(#59a559, #44c944, orange);
}

.buttonLink {
  @include button-styles(rgb(22, 86, 168), rgb(94, 94, 238), orange);
}
